.trainee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.card {
  margin: 1rem;
  color: black;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 250px;
  height: 250px;
}

.MuiAutocomplete-root {
  border: solid;
  position: absolute;
  margin: -3.5% 0 0 13%;
  z-index: 1;
}