/* Body */
.userInformationPage {
  height:100vh;
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;

}

/* User Information */
.userInfoContainer{
  flex-flow: column;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.userInformation {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  padding-top: 30px;
}

.photoContainer {
  height: 200px;
  width: 300px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.userPhoto {
  width: 100%;
  height: 100%;
  border-right-width: 2px;
  border-radius: 30px;
}

.classCardContainer{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  display: -webkit-inline-box;
}

.classHeaderInformation {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.classCardInformation {
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #C06014;
  margin-left: 15px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.classPhoto {
  height: 100%;
  width: 100%;
  object-fit:initial;
}

.classPhotoContainer {
  height: 200px;
  width: 320px;
}

.classNameContainer {
  text-align: center;
  display: table;
  background-color: #C06014;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.className {
  display:table-cell;
  color: white;
}

.classScrollInformation {
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.textContainer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color:black;
}

.userIcons{
  margin-right: 5px;
}

.buttonFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding-bottom: 20px;
}

.userClassText{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white
}

.profileText{
  color: white
}

.h1{
  color: white
}

.editIcon{
  color: white;
}

.icon{
  color: white;
}
