/* Body */
.userInformationPage {
  min-width: '100%';
  min-height: '100%';
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #424642;

}

.html, body{
  height:100%;
  background-color: #424642;
}


/* User Information */
.userInformationContainer{
  background-color: #424642;
  flex-flow: column;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer {
  max-width: 100vw;
    min-height: 100vh;
}

.userInformation {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  padding-top: 30px;
}

.photoContainer {
  height: 200px;
  width: 300px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.userPhoto {
  width: 100%;
  height: 100%;
  border-right-width: 2px;
  border-radius: 30px;
}


.classHeaderInformation {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.classCardInformation {
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #C06014;
  margin-left: 15px;
  width: 300px;
  height: 450px;
}

.classPhoto {
  height: 100%;
  width: 100%;
  object-fit:initial;
}

.classPhotoContainer {
  height: 200px;
  width: 320px;
}

.classNameContainer {
  text-align: center;
  display: table;
  background-color: #C06014;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.className {
  display:table-cell;
  color: white;
}

.classScrollInformation {
  flex-direction: row;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.textContainer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.classCardContainer{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.userIcons{
  margin-right: 5px;
}


