.MuiAutocomplete-root {
  position: absolute;
  left: 11%;
  top: 1%;
  z-index: 1;
  border: solid 1px black;
}

/* ---------------- Trainer profile ---------------------- */
/* Body */
.userInformationPage {
  width: 100vw;
  height: 100vh;
  background: black;
}

/* User Information */
.userInformationContainer {
  width: 100%;
  height: fit-content;
  /* background-color: lightgray; */
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user {
  box-shadow: 10px 10px 10px -4px #c06014;
  background-color: #536162;
  overflow: visible;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
  display: table;
  overflow: hidden;
  margin-top: 30px;
}
.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: center;
}

.userInformation {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.photoContainer {
  height: 200px;
  width: 300px;
  padding-left: 0px;
}
.classesContainer {
  flex-wrap: wrap;
  width: 80vw;
  height: fit-content;
  position: relative;
}

.userPhoto {
  width: 100%;
  height: 100%;
  border-right-color: #c06014;
  border-right-width: 2px;
}
.card_container {
  max-width: 25vw;
}
.profile_container {
  max-width: 25vw;
  height: 60vh;
}
.classHeader {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.classCard {
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  /* border: 1px solid #c06014; */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  /* height: 60vh; */
}
.classCard_profile {
  display: flex;
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  height: 60vh;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.classPhoto {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: block;
  margin: 0 auto;
}
.keywordBox {
  width: 95%;
  height: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1vh 0;
}
.keyword:hover {
  color: #c06014;
}
.keyword {
  max-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2vh;
  border-right: #c06014 solid 1px;
}
.keyword:last-of-type {
  border-right: transparent;
}

.classPhotoContainer {
  height: 200px;
  width: 320px;
  vertical-align: middle;
}
.classInformation {
  width: 100%;
}
.classNameContainer {
  text-align: center;
  display: table;
  background-color: #c06014;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.className {
  display: table-cell;
  color: white;
}

.classScroll {
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}
.profileText,
.trainerClassText {
  color: white;
}
.reviewBody {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviewbox {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.starContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title {
  color: #c06014;
  font-weight: 800;
}

.bottom_container {
  padding: 2vh 3vh;
  display: flex;
  min-height: 30vh;
  max-height: 30vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}
.avatar {
  width: 3rem;
  height: 3rem;
  background-color: #c06014;
  color: black;
  font-weight: 800;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vh;
}
.textContainer1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vh;
}
.commentbox {
  background-color: #c06014;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  padding: 2vh;
  width: fit-content;
}

.text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 8vh;
  overflow: hidden;
}

.class-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-content: center;
}

.classes {
  width: 100vw;
  height: 150vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
}

.detailButton {
  background-color: #c06014;
  width: 15vw;
  height: 5vh;
  border: none;
  border-radius: 2.5vh;
  color: #f3f4ed;
  font-weight: 800;
}
.classScrollInformation {
  margin-top: 3vh;
}

.viewReview_contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.viewReview_contaier:hover {
  transform: scale(1.1);
}
.starRatings {
  color: #f3f4ed;
}

.button {
  background-color: #c06014;
  width: 15vw;
  height: 8vh;
  border: none;
  border-radius: 2.5vh;
  color: #f3f4ed;
  padding: 1vh;
  font-weight: 800;
}
.bookingContainer {
  margin-top: 3vh;
}
.classCardContainer {
  overflow: auto;
  width: 100%;
}
