.MuiAutocomplete-root {
  position: absolute;
  margin: -3.5% 0 0 13%;
  z-index: 1;
  border: solid 1px black;
}

.overallRatingTitle {
  margin: 25px 0px 10px 25px;
}

.ratings {
  margin-top: 10px;
  margin-left: 40px;
}

.starRatings {
  margin-top: 10px;
  margin-left: 40px;
}

.trainers {
  max-width: '100%';
  max-height: '100%';
  padding-left: 0px;
  padding-right: 0px;
  background-color: #424642;
  height: 100vh;
}
.trainer {
  box-shadow: 10px 10px 10px -4px #C06014;
  background-color: #536162;
  overflow: visible;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
  overflow: hidden;
  display: table;
  margin-top: 30px;
}

.trainerClasses {
  float: right;
}

.trainerCard {
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #C06014;
  margin-left: 10px;
  margin-right: 10px;
  width: 240px;
  margin-top: 30px;
}
.trainerPhoto {
  height: 103%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.trainerClassScroll {
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 20px;
  width: 40vh;
  padding-right: 20px;
}

.trainerPhotoContainer {
  padding-left: 0px;
  height: 35vh;
}

.trainerClassCardContainer {
  float: right;
}

.trainerNameContainer {
  text-align: center;
  display: table;
  background-color: #C06014;
  width: 106%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.trainerName {
  display:table-cell;
  color: white;
}

.trainers-class-photos {
  float: right;
}
.trainerScroll {
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
}

.trainerDetails {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.trainer-list{
  display: grid;
  grid-template-columns: 40vh 40vh 40vh 10vh;
  margin-left: 11vh;
}

.learnMoreButton {
  display: center;
}

/* Body */
.userInformationPage {
  width: 100vw;
  height: 130vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
}
.html, body{
  height:100%;
  background-color: black;
}


/* User Information */
.userInformationContainer{
  background-color: lightgray;
  flex-flow: column;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer {
  max-width: 100vw;
    min-height: 100vh;
}

.userInformation {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  padding-top: 30px;
}

.photoContainer {
  height: 200px;
  width: 300px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.userPhoto {
  width: 100%;
  height: 100%;
  border-right-width: 2px;
  border-radius: 30px;
}


.classHeaderInformation {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .classCardInformation {
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #C06014;
  margin-left: 15px;
  width: 35vh;
  height: 450px;
  padding-inline: 5vh;
} */

.classPhoto {
  height: 100%;
  width: 100%;
  object-fit:initial;
}

.classPhotoContainer {
  height: 200px;
  width: 320px;
}

.classNameContainer {
  text-align: center;
  display: table;
  background-color: #C06014;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.className {
  display:table-cell;
  color: white;
}

.classScrollInformation {
  flex-direction: row;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.textcontainer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  max-height: 15vh;
}

.classCardContainer{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.userIcons{
  margin-right: 5px;
}

.starRatings {
  margin-left: 3vh;
}

