.MuiAutocomplete-root {
  position: absolute;
  left: 11%;
  top: 1%;
  z-index: 1;
  border: solid 1px black;
}

/* Body */
.userInformationPage {
  max-width: '100%';
  max-height: '100%';
  padding-left: 0px;
  padding-right: 0px;
  background-color: #424642;
}

/* User Information */
.user {
  box-shadow: 10px 10px 10px -4px #c06014;
  background-color: #536162;
  overflow: visible;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
  display: table;
  overflow: hidden;
  margin-top: 30px;
}
.userContainer {
  display: flex;
  justify-content: center;
}

.userInformation {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.photoContainer {
  height: 200px;
  width: 300px;
  padding-left: 0px;
}
.classesContainer {
  flex-wrap: wrap;
  width: 80vw;
  height: fit-content;
  position: relative;
}

.userPhoto {
  width: 100%;
  height: 100%;
  border-right-color: #c06014;
  border-right-width: 2px;
}
.card_container {
  max-width: 25vw;
}

.classHeader {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.classCard {
  flex-direction: column;
  background-color: #f3f4ed;
  overflow: hidden;
  border-radius: 30px;
  /* border: 1px solid #c06014; */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  /* height: 43vh; */
}

.classInfoImage {
  height: 40vh;
  width: 15vw;
}

.classPhoto {
  height: 100%;
  width: 100%;
  object-fit: initial;
}

.classPhotoContainer {
  height: 200px;
  width: 320px;
}
.classNameContainer1 {
  width: 100%;
  background-color: #c06014;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c06014;
  border-bottom: 1px solid #c06014;
  width: 100%;
  margin: 5vh 0;
}

.Name {
  color: white;
  margin: 0.5vh 0;
}

.container {
  min-width: 100%;
  min-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.bookingBody {
  width: 100vw;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
  color: black;
}
.teacherBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: fl;
}
.descrip {
  padding: 2vw;
  margin: 0;
}
.headerText {
  color: #c06014;
}
.classHeaderBooking {
  display: flex;
  align-items: flex-start;
  font-weight: 50px;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.classScroll {
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  /* display: inline-flex; */
}
.classInformation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

/* .text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 8vh;
  overflow: hidden;
} */

.class-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  flex-direction: column;
}

.classes {
  width: 100vw;
  height: fit-content;
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
}

.detailButton {
  background-color: #c06014;
  width: 15vw;
  height: 5vh;
  border: none;
  border-radius: 2.5vh;
  color: #f3f4ed;
  font-weight: 800;
}

.mat-icon {
  position: relative；;
  /* top: 7px; */
}

.trainerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 3vh 0;
  margin: 0;
}

.trainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox;
  color: white;
}

.allInfo {
  color: white;
  background: black;
}
.classInfoContainer {
  display: flex;
  flex-direction: column;
}
.containerTop {
  color: white;
  background: black;
}

.rightSide {
  padding-left: 7vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  color: white;
}

.instructor {
  background: #c06014;
}
