.home {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.row {
  display: flex;
  height: 60vh;
}
.upcoming_class {
  height: 100%;
  padding-left: 5vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  /* border-right: 1px solid #ff8a10; */
  color: white;
  position: relative;
}
.promotion {
  height: 100%;
  padding: 5vh;
  position: relative;
}
.recommend {
  height: 30vh;
  padding: 5vh;
  display: flex;
  align-content: center;
}
.class_container,
.promition_container,
.recommend_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  flex-direction: column;
  background-color: black;
}
.recommend_container {
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
}
.class_container {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
  /* border-right: 1px solid #ff8a10; */
  padding-top: 3vh;
}
.classWrapper {
  padding-top: 3vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 2vh;
}
.classWrapper:hover {
  color: #ff8a10;
}
.classTitle {
  font-weight: 700;
  font-size: 1.1rem;
}

.nav_bar {
  width: 100vw;
}
.logo_word {
  background: url('../../../dist/images/logo_letter_black.png');
  background-position: center;
  background-size: cover;
  height: 8vh;
  width: 10%;
}
.button_container,
.icon_container {
  display: flex;
  align-items: center;
}
.button_container button,
.icon {
  margin-right: 2vh;
  cursor: pointer;
}
.button {
  background-color: transparent;
  border: 0;
  color: black;
  height: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}
.button:hover{
  transform: scale(1.3) ;
}
.promition_container {
  padding-left: 15%;
}
.class_container_below {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
  /* border-bottom: 1px solid #ff8a10; */
  padding-top: 5vh;

  width: 100%;
  background-color: grba(0, 0, 0, 0.1);
  position: relative;
}
.classWrapper_below {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding: 2vh 3vh;
  border-bottom: 1px solid #ff8a10;
  position: relative;
}
.upcoming_class:before,
.promotion:before {
  content: '';
  width: 80%;
  height: 5%;
  position: absolute;
  bottom: 7%;
  background: linear-gradient(transparent 5px, #ff8a10);
}
.h1 {
  font-size: 2rem;
  color:#ff8a10;
  position: relative;
}
.upcoming_class:before {
  bottom: -1%;
}
.promotion:before {
  left: 19%;
}
.dropdown_container{
  display: flex;
  position: relative;
  align-items: center;
}